<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Successfully in!</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'first_app/styles.css' %}">
</head>
<body>
    <h1> Hello, {{request.session.fullname}}!</h1>

    <table>
        <p>Your Wish List:</p>
        <tr>
            <td>Item</td>
            <td> Added by</td>
            <td>Added</td>
            <td>Action</td>
        </tr>
            {% for item in wishlist %}
                {% if item.added_by.id == request.session.id %}
                    <tr>
                        <td><a href="/wish_items/{{item.id}}">{{item.name}}</a></td>
                        <td>{{item.added_by.fullname}}</td>
                        <td>{{item.created_at}}</td>
                        <td>
                            <a href="/destroy/{{item.id}}">Delete</a>
                        </td>
                    </tr>
                {%endif%}
            {%endfor%}
            {%for like in liked%}
        <tr>
            <td>{{like.name}}</td>
            <td>{{like.added_by.fullname}}</td>
            <td>{{like.created_at}}</td>
        </tr>
        {%endfor%}
    </table>
    <table>
        <p>Other Users' Wish List</p>
        <tr>
            <td>Item</td>
            <td>Added by</td>
            <td>Joined</td>
            <td>Action</td>
        </tr>
        {%for x in otherliked%}
            <tr>
                <td><a href="/wish_items/{{x.id}}">{{x.name}}</a></td>
                <td>{{x.added_by.fullname}}</td>
                <td>{{x.created_at}}</td>
                <td>
                    <a href="/add/{{x.id}}">Add to my wishlist</a>
                </td>
            </tr>
        {%endfor%}
    </table>
    <p><a href="/wish_items/create" name="newitem"> Add Item </a></p>
    <p><a href="/" name='logout'>Log out</a> </p>
</body>
</html>
