<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Successfully in!</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'first_app/styles.css' %}">
</head>
<body>
    <a href="/home">Home</a>
    <a href="/addBook">Add New Book</a>
    <a href="/logout">Logout</a>
    {% if reviews %}
        <h2>Recent Book Reviews </h2>
        {% for review in reviews %}
            <a href="/show/{{review.book.id}}">{{review.book.bookTitle}}</a>
            <h4>Rating: {{review.rating}}</h4>
            <h4>{{ review.user.first_name }} says: {{ review.review }}</h4>
            <h5>{{ review.created_at }}</h5>
        {% endfor %}

        <h2>Other Books with Reviews</h2>
        {% for book in books %}
        	<h4><a href="/show/{{ book.id }}">{{book.bookTitle}}</a></h4>
        {% endfor %}
    {% else %}
        <h1>Welcome, {{request.session.first_name}} {{request.session.last_name}}!</h1>
		<p>There are no reviews right now, be the first to add one! </p>
    {% endif %}
</body>
</html>